/*
    Font Rules
*/
@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('./fonts/InterVariable.woff2') format('woff2');
}

@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('./fonts/InterVariable-Italic.woff2') format('woff2');
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'InterVariable', sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ebeced;
}

#root {
    padding: 1.143rem;
}

.table-section:not(:last-of-type) {
    margin-bottom: 1.143rem;
}

.table-section > h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 0.5;
}

/*
    Table Styles. Mobile first.
*/
.table-wrapper {
    margin-bottom: 1.143rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    overflow-y: auto;
}

.table-wrapper:last-of-type {
    margin-bottom: 0;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    color: rgba(0, 0, 0, 0.87);
}

thead {
    display: none;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

th,
td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.286rem 0.571rem;
    font-size: 0.857rem;
    line-height: 1.2;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.87);
    text-align: right;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

th {
    line-height: 1.4;
}

th:first-of-type,
td:first-of-type {
    text-align: left;
}

td:first-of-type {
    font-size: 0.92rem;
    background-color: rgba(0, 0, 0, 0.04);
}

td::before {
    content: attr(data-label);
}

td:first-of-type::before {
    font-weight: 500;
}

td:last-of-type > div {
    display: inline-flex;
}

td:last-of-type > div button:last-of-type {
    margin-left: 0.286rem;
}

td > .package-name {
    display: inline-flex;
    align-items: center;
}

td.damage:not(:first-of-type) {
    background-color: #fff2f0;
}

@media screen and (min-width: 600px) {
    thead {
        display: table-header-group;
    }

    th,
    td {
        display: table-cell;
    }

    td::before {
        content: none;
    }

    td:first-of-type {
        font-size: 0.857rem;
    }

    td:first-of-type:not(.damage) {
        background-color: transparent;
    }

    td.damage:first-of-type {
        background-color: #fff2f0;
    }
}

/*
    ==== Button Icon Styles ====
*/
.button-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.714rem;
    height: 1.714rem;
    padding-inline: 0;

    font-size: 1rem;
    color: rgba(0, 0, 0, 0.87);
    text-wrap: nowrap;
    background-color: transparent;

    border-radius: 4px;
    border: 1px solid #d9d9d9;

    cursor: pointer;
    user-select: none;
    outline: none;

    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button-icon.primary {
    color: #fff;
    background-color: #1677ff;
    border-color: #1677ff;
}

.button-icon.button-icon.primary:hover {
    background-color: #4096ff;
    border-color: #4096ff;
}

.button-icon.button-icon.primary:active {
    background-color: #0958d9;
    border-color: #0958d9;
}

.button-icon.danger {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
}

.button-icon.button-icon.danger:hover {
    background-color: #ff7875;
    border-color: #ff7875;
}

.button-icon.button-icon.danger:active {
    background-color: #d9363e;
    border-color: #d9363e;
}

/*
    ==== Link ====
*/
.link {
    color: #1677ff;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link:hover {
    color: #69b1ff;
}

.link:active {
    color: #0958d9;
}

/*
    ==== Button Icon Styles ====
*/
.semver-diff.orange {
    color: #ffbf00;
}

.semver-diff.green {
    color: #26a641;
}

.semver-diff.red {
    color: #e34c26;
}

.semver-diff.gray {
    color: #808080;
}

/*
    ==== Alert Styles ====
*/
.alert-message {
    display: flex;
    padding: 0.571rem 0.857rem;
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
    border-radius: 4px;

    font-size: 0.9rem;
}

.alert-message > .icon {
    display: inline-flex;
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #ff4d4f;
}

/*
    ==== Spin Styles ====
*/
.spin {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.spin > .icon-spin {
    margin-right: 0.5rem;
}

.spin:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: '\2026';
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
