html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ebeced;
}

.container {
    padding: 16px;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
}

caption {
    text-align: left;
    font-style: italic;
    padding: 0.25em 0.5em 0.5em 0.5em;
}

th,
td {
    display: table-cell;
    padding: 6px 16px; /* TODO: to rem / em */
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.87);
    vertical-align: text-top;
    text-align: right;

    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

th {
    font-weight: 700;
}

td {
    font-weight: 400;
}

th:first-of-type {
    text-align: left;
}

td:first-of-type {
    text-align: left;
}

.icon {
    display: inline-flex;
    align-items: center;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    margin: 8px 0;
    font-size: 16px;
}

.icon.spin {
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    animation: loadingCircle 1s infinite linear;
}

@keyframes loadingCircle {
    100% {
        transform: rotate(360deg);
    }
}

.circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background-color: orange;
    border-radius: 50%;
}

.circle.orange {
    background-color: orange;
}

.circle.green {
    background-color: green;
}

.circle.red {
    background-color: red;
}

th {
    /* vertical-align: bottom; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* color: #fff; */
    /* font-weight: bold;/ */
}

/* text-align: right */

/* td::before {
    display: none;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.25);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

td:nth-of-type(2) {
    font-style: italic;
}

th:nth-of-type(3),
td:nth-of-type(3) {
    text-align: right;
}

div {
    overflow: auto;
} */
